{% extends 'base.html.twig' %}


{% block body %}
<main id="conseils">
<section>
    <aside id="asideConseils">
        <figure>
            <img src="/img/barbapapaConseils.png" alt="">

        </figure>

        <div >
            <button id="buttonEquipements">Equipements</button>
            <button id="buttonSante">Santé</button>
            <button id="buttonTousNosConseils">Tous nos conseils</button>
        </div>
    </aside>

<div id="nosConseils">
    <h3 class="firstLineTitle">Nos</h3>
    <h2 class="secondLineTitle">Conseils</h2>

    <p>Si vous êtes là, c’est sans doute parce que vous ne faites pas partie de ces pratiquants qui sont convaincus que l’on peut randonner avec n’importe quelles chaussures dites de sport.Et vous faites bien : aussi singulier que cela puisse paraître,pour randonner, 
    il faut une paire de chaussures de randonnée. 
    En effet, même s’il s’agit d’abord de prendre l’air, d’admirer les paysages, de voyager au pas… de la petite balade au trek autour du monde, la randonnée est une activité sportive nécessitant un matériel adapté.
    Et comme randonner consiste essentiellement à mettre un pied devant l’autre,
     la meilleure manière de préparer vos randonnées pour que la pratique de ce sport reste avant tout un plaisir, c’est de prendre soin de vos pieds et de leur confort !
    </p>


    <div id="focusConseils_1">
        <div class="divFocus">
            <img class="imgFocus"  src="/img/ruedecassel.jpg" alt="rueDeCassel">
        </div>    

        <div class="texte">
            
            <h3 class="firstLineTitle">Choisir</h3>
            <h2 class="secondLineTitle">ses chaussures</h2>
            <p>
                Sous le ciel clément d'une matinée d'automne, un petit groupe de femmes s'était donné rendez-vous au pied d'une montagne majestueuse. Leur objectif était simple : explorer la nature, se reconnecter à elles-mêmes, et trouver la paix intérieure à travers une journée de randonnée.
                Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air. Les femmes marchaient à un rythme tranquille, prenant le temps d'admirer la beauté qui les entourait. La nature leur offrait un spectacle vibrant de couleurs et de sons.
            </p>
        </div>
    </div>

    <div id="focusConseils_2">
        <div class="divFocus">
            <img class="imgFocus"  src="/img/1maison.JPG" alt="Maison">
        </div>    
            
        <div class="texte">
            
            <h3 class="firstLineTitle">Santé</h3>
            
            <p>
                Sous le ciel clément d'une matinée d'automne, un petit groupe de femmes s'était donné rendez-vous au pied d'une montagne majestueuse. Leur objectif était simple : explorer la nature, se reconnecter à elles-mêmes, et trouver la paix intérieure à travers une journée de randonnée.
                Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air. Les femmes marchaient à un rythme tranquille, prenant le temps d'admirer la beauté qui les entourait. La nature leur offrait un spectacle vibrant de couleurs et de sons.
            </p>
        </div>
    </div>

    <div id="focusConseils_3">
        <div class="divFocus"   >
            <img class="imgFocus"src="/img/montdesrecollets.JPG" alt="mont des recollets">
        </div>    
            
        <div class="texte">
            
            <h3 class="firstLineTitle">Tous</h3>
            <h2 class="secondLineTitle">Nos conseils</h2>
            <p>
                Sous le ciel clément d'une matinée d'automne, un petit groupe de femmes s'était donné rendez-vous au pied d'une montagne majestueuse. Leur objectif était simple : explorer la nature, se reconnecter à elles-mêmes, et trouver la paix intérieure à travers une journée de randonnée.
                Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air. Les femmes marchaient à un rythme tranquille, prenant le temps d'admirer la beauté qui les entourait. La nature leur offrait un spectacle vibrant de couleurs et de sons.
            </p>
        </div>
    </div>

</div>
   
</section>
</main>
{% endblock %}
