{% extends 'base.html.twig' %}

{% block body %}
 <main id="mainHistoire">
        <!---j'ai fais le choix de section pour pouvoir gérer mes élements plus facilement et distinctement-->
        <section id="section1">
            <div >    
        
                <h1>Notre <br>
                    Histoire</h1>
                <br> 
                
                <p class="paragraphe">
                    Je m'appelle Diougal.J'ai toujours aimé la nature, les beaux paysages cela m'a toujours procuré un bien fou.
                    <br>
                    Je suis celle qui prend toujours des photos ou des vidéos de la nature, qui regarde par la fenêtre en voiture, en train et qui est comme un enfant lorsqu'elle est cotée hublot dans l'avion. 
                    J'ai effectué des randonnées étant plus jeune quand j'allais en colonie avec le centre.
                    <br>
                    <br>
                    L'année dernière à l'initiative d'une amie, j'ai redécouvert la magie des randonnées. Au cours d'une d'entre elles, quelques choses de spécial s'est produit. 
                    C'était comme une bouffée d'air frais, un renouveau, un sens retrouvé après une épreuve. 
                    Cette expérience m'a profondément apaisée et a changé ma perspective sur la vie. 
                    Cette bouffée d'air frais, cette reconnexion profonde à moi-même, je l'ai ressentie comme si au travers de la nature je pansé mes blessures.
                    Je voulais que d'autre puisse ressentir la sérénité profonde que j'ai ressentie ce jour la et partager cette bouffée d'air frais, cette paix intérieure avec d'autres femmes.. <br><br>
                    Le projet "Soeureinement" est donc né et il est également le fruit de la collaboration avec trois femmes exceptionnelles, Jessica, Louaila et Aminata. 
                    Ces inspiratrices dévouées partagent une passion commune pour l'épanouissement des femmes, chacune apportant son expertise unique au projet.
                    Elles apportent leurs savoir-faire en création de communauté, favorisant des liens authentiques entre les participantes.
                </p> 
            
            </div>
            <img class="photoGroupe" src="{{ asset('/img/GroupeBarbidouxOrange.png')}}" alt="photoGroupe">
            
        </section>
 
        <section id="section2">  
            
            <div id="barbidouxMarron">
                <img class="pontForêt" src="{{ asset('/img/photoBienEtre.png')}}" alt="pontForêt">
            </div>
            <div id="paraSection2">
            
                <h1>Votre <br>
                   bien-être</h1>
                <br>

                <p class="paragraphe">
                    Chez Soeureinement, notre engagement premier est le bien-être absolu des femmes. Nous croyons fermement en la puissance de la nature pour apporter la paix intérieure.
                    Au cœur de notre démarche, nous proposons divers ateliers bien-être qui offrent aux participants l'opportunité de se ressourcer, de se recentrer et de revitaliser leur esprit.
                    <br>
                    <br>
                    Que ce soit par la méditation guidée au levier du soleil, des séances de yoga enveloppées par les bruits apaisants de la nature, ou des moments de réflexion au bord d'une cascade, chaque instant est une invitation à se connecter à son être intérieur. Nous croyons en la force transformatrice de ces expériences et sommes déterminés à offrir à chaque femme la possibilité de se retrouver, de se réinventer et de s'épanouir.
                    Rejoignez-nous pour un voyage vers la sérénité où chaque pas est une exploration de votre bien-être personnel.
                    Chez Soeureinement, notre engagement premier est le bien-être absolu des femmes. Nous croyons fermement en la puissance de la nature pour apporter la paix intérieure.
                    Au cœur de notre démarche, nous proposons divers ateliers bien-être qui offrent aux participants l'opportunité de se ressourcer, de se recentrer et de revitaliser leur esprit.
                    <br>
                    <br>
                    Que ce soit par la méditation guidée au levier du soleil, des séances de yoga enveloppées par les bruits apaisants de la nature, ou des moments de réflexion au bord d'une cascade, chaque instant est une invitation à se connecter à son être intérieur. Nous croyons en la force transformatrice de ces expériences et sommes déterminés à offrir à chaque femme la possibilité de se retrouver, de se réinventer et de s'épanouir.
                    Rejoignez-nous pour un voyage vers la sérénité où chaque pas est une exploration de votre bien-être personnel.
                </p>
               
            </div>  
            
        </section>

        <section id="section3" >

            <div id="paraSection3">

                <h1>Nos<br>
                randonnées</h1>
                <br>
                <p class="paragraphe">
                    Les randonnées avec "Soeureinement" transcendent l'ordinaire pour offrir une expérience unique d'exploration et de bien-être. Nous croyons que la nature est une source puissante de guérison et de ressourcement, et chaque randonnée est soigneusement conçue pour capturer cette essence.
                    <br>
                    <br>
                     Que vous soyez une habituée des sentiers ou que ce soit votre première aventure, nos randonnées exclusivement réservées aux femmes vous offrent l'opportunité de vous immerger dans des paysages enchanteurs tout en vous reconnectant à votre propre essence.

                    Nos itinéraires sont bien plus que des pistes à suivre ; ce sont des voyages destinés à revitaliser l'esprit et à apaiser l'âme.
                    <br>
                     Des panoramas pittoresques aux retraites paisibles, chaque randonnée "Soeureinement" est une opportunité de trouver la sérénité au cœur de la nature. 
                    En suivant le rythme de vos pas, vous découvrez une nouvelle perspective sur le bien-être, où la marche devient une méditation en mouvement et où chaque sentier devient une invitation à l'exploration intérieure. 
                    <br>
                    <br>
                    Nos randonnées offrent une flexibilité totale, avec la possibilité de choisir entre des escapades en solo ou en groupe. Pour celles qui préfèrent partager l'expérience, nos randonnées en groupe sont encadrées par une équipe de guides exclusivement féminine. Ces guides dévouées ne sont pas seulement des expertes en navigation, mais des compagnes bienveillantes, prêtes à guider chaque participante à travers des paysages inspirants et des moments de réflexion. 
                    <br>
                    Rejoignez-nous pour une aventure où chaque pas compte, où la beauté naturelle se mêle à votre propre voyage de découverte, et où les bienfaits de la randonnée vont au-delà des sentiers battus.
                </p>
                <br>
                <br>
                <a  id="bouton" href="{{ path('app_hike') }}">Découvrir nos randondées</a>
            </div>
            <img class="nosRandoBarbidoux" src="{{ asset('/img/GroupeNosRando.png')}}" alt="nosRandoBarbidoux">
        
    </section>
    </main>

{% endblock %}

