{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<main class="cataRando">
     <!------------------------------------------------------"DEBUT SECTION TITRE"-------------------------------------->
        <section id="section1R">
            <div>
            <h3 class="firstLineTitle">Trouvez votre prochaine</h3>
            <h2 class="secondLineTitle">Randonnée</h2>
        
            </div>
            <div>
                <input placeholder="Recherche" type="text" id="Mapbar" name="Mapbar" value="" >
            </div>
        </section>
     <!------------------------------------------------------"FIN SECTION TITRE"-------------------------------------->
     <!------------------------------------------------------"DEBUT SECTION CARTES"-------------------------------------->
    
        <section id="section2R">
            <div class="card">
                <img src="/img/Saintjanscappel.JPG" alt="Saint Jans Cappel" style="width:100%;">
                <div class="niveau"><p>niveau</p></div>
                <p id="titreCard"></p>
                <p></p>
                <p></p>
                <p><a href="#">En savoir +</a></p>
                <p><button>Réservation</button></p>
            </div>
            <div class="card">
                <img src="/img/Saintjanscappel.JPG" alt="Saint Jans Cappel" style="width:100%;">
                <div class="niveau"><p>niveau</p></div>
                <p id="titreCard">Le sentier des Jachintes, Saint Jans Cappel</p>
                <p>blablabla</p>
                <p>Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air</p>
                <p><a href="#">En savoir +</a></p>
                <p><button>Réservation</button></p>
            </div>
            <div class="card">
                <img src="/img/Saintjanscappel.JPG" alt="Saint Jans Cappel" style="width:100%;">
                <div class="niveau"><p>niveau</p></div>
                <p id="titreCard">Le sentier des Jachintes, Saint Jans Cappel</p>
                <p>blablabla</p>
                <p>Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air</p>
                <p><a href="#">En savoir +</a></p>
                <p><button>Réservation</button></p>
            </div>
            <div class="card">
                <img src="/img/Saintjanscappel.JPG" alt="Saint Jans Cappel" style="width:100%;">
                <div class="niveau"><p>niveau</p></div>
                <p id="titreCard">Le sentier des Jachintes, Saint Jans Cappel</p>
                <p>blablabla</p>
                <p>Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air</p>
                <p><a href="#">En savoir +</a></p>
                <p><button>Réservation</button></p>
            </div>
            <div class="card">
                <img src="/img/Saintjanscappel.JPG" alt="Saint Jans Cappel" style="width:100%;">
                <div class="niveau"><p>niveau</p></div>
                <p id="titreCard">Le sentier des Jachintes, Saint Jans Cappel</p>
                <p>blablabla</p>
                <p>Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air</p>
                <p><a href="#">En savoir +</a></p>
                <p><button>Réservation</button></p>
            </div>
            <div class="card">
                <img src="/img/Saintjanscappel.JPG" alt="Saint Jans Cappel" style="width:100%;">
                <div class="niveau"><p>niveau</p></div>
                <p id="titreCard">Le sentier des Jachintes, Saint Jans Cappel</p>
                <p>blablabla</p>
                <p>Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air</p>
                <p><a href="#">En savoir +</a></p>
                <p><button>Réservation</button></p>
            </div>
            <div class="card">
                <img src="/img/Saintjanscappel.JPG" alt="Saint Jans Cappel" style="width:100%;">
                <div class="niveau"><p>niveau</p></div>
                <p id="titreCard">Le sentier des Jachintes, Saint Jans Cappel</p>
                <p>blablabla</p>
                <p>Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air</p>
                <p><a href="#">En savoir +</a></p>
                <p><button>Réservation</button></p>
            </div>
            <div class="card">
                <img src="/img/Saintjanscappel.JPG" alt="Saint Jans Cappel" style="width:100%;">
                <div class="niveau"><p>niveau</p></div>
                <p id="titreCard">Le sentier des Jachintes, Saint Jans Cappel</p>
                <p>blablabla</p>
                <p>Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air</p>
                <p><a href="#">En savoir +</a></p>
                <p><button>Réservation</button></p>
            </div>
        </section>
    <!------------------------------------------------------"SECTION FOCUS DEBUT"-------------------------------------->    
        
        <section class="focus">
            <div>
                <img id="imgfocusIndex" src="/img/photo4acceuil.JPG" alt="photo4acceuil">
            </div>        
            <div class="texte">
                
                <h3 class="firstLineTitle">Nos</h3>
                <h2 class="secondLineTitle">randonnées</h2>
                <p>
                    Sous le ciel clément d'une matinée d'automne, un petit groupe de femmes s'était donné rendez-vous au pied d'une montagne majestueuse. Leur objectif était simple : explorer la nature, se reconnecter à elles-mêmes, et trouver la paix intérieure à travers une journée de randonnée.
                    Les sentiers étaient bordés de couleurs automnales éclatantes, et le doux parfum des feuilles tombées imprégnait l'air. Les femmes marchaient à un rythme tranquille, prenant le temps d'admirer la beauté qui les entourait. La nature leur offrait un spectacle vibrant de couleurs et de sons.
                </p>
                <br>
                <a href="/pages/conseils.html">Nos conseils</a>
            </div>
        </section>
    <!------------------------------------------------------"SECTION FOCUS FIN"-------------------------------------->
    </main>
   


{% endblock %}
